@using WebApplication1.Models;
@{
    ViewBag.Title = "Home Page";

}

<div class="wrapper" ng-app="myApp" ng-controller="MyCtrl">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav" style="display: flex; padding-left: 20px; flex-direction: column">
            <li class="nav-item">
                <p>Công ty tôi</p>
            </li>
            <li class="nav-item" style="font-size: 14px">
                <p>Email nhận hóa đơn: <span id="emailNameOwner"></span></p>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Navbar Search -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fa-sharp fa-solid fa-question"></i>
                </a>
            </li>

            <!-- Messages Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fa-sharp fa-solid fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">15</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">15 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> 4 new messages
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> 8 friend requests
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i> 3 new reports
                        <span class="float-right text-muted text-sm">2 days</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
            </li>
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fa-sharp fa-solid fa-lightbulb"></i>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" ng-click="logout()">
                    <span><i class="fa-solid fa-user"></i></span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">15 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> 4 new messages
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> 8 friend requests
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i> 3 new reports
                        <span class="float-right text-muted text-sm">2 days</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="index3.html" class="brand-link">
            <img src="~/Image/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">AdminLTE 3</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/Image/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Alexander Pierce</a>
                </div>
            </div>

            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->

                    <li class="nav-item menu-open">
                        <a href="../mailbox/read-mail.html" class="nav-link active">
                            <i class="nav-icon far fa-envelope"></i>
                            <p>
                                Hộp thư
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-3" style="border: 1px solid lightgray; background-color: white;height: 900px;overflow-y: scroll">
                        <div class="row" style="border-bottom: 1px solid lightgray;height:80px">
                            <div class="col-md-6" style="display: flex; align-items: center; justify-content: center;">
                                <i class="fa-regular fa-envelope text-danger fa-xl"></i>&emsp;
                                <h2 style="font-weight: bolder; margin: 0px">
                                    Hộp thư
                                </h2>
                            </div>
                            <div class="col-md-6" style="display: flex; justify-content: center; align-items: center">
                                <ul class="nav navbar-nav navbar-right" style="flex-direction: row; justify-content: flex-end; ">
                                    <li style="padding: 20px 4px">
                                        <button id="btnControlMailBox_Reload" class="btn rounded-circle" style="background-color: #e4e6eb">
                                            <h5 class="m-auto"><i style="font-size:22px" class="fa-solid fa-rotate-right"></i></h5>
                                        </button>
                                    </li>
                                    <li style="padding: 20px 4px ">
                                        <button id="btnControlMailBox_Reload" class="btn rounded-circle" style="background-color: #e4e6eb">
                                            <h5 class="m-auto"><i style="font-size:20px" class="fa-solid fa-magnifying-glass"></i></h5>
                                        </button>
                                    </li>
                                    <li style="padding: 20px 4px ">
                                        <button id="btnControlMailBox_Reload" class="btn rounded-circle" style="background-color: #e4e6eb">
                                            <h5 class="m-auto"><i style="font-size:20px" class="fa-solid fa-filter"></i></h5>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            @foreach (EmailEntity item in ViewBag.listEmail)
                            {
                                int startIndex = @item.From.IndexOf('<') + 1;
                                int endIndex = @item.From.IndexOf('>');
                                string exEmail = @item.From.Substring(startIndex, endIndex - startIndex);
                                string extractedEmail = "<" + exEmail + ">";
                                <p class="overflow-text" style="font-weight: bold; color: dodgerblue;cursor:pointer">@item.Subject</p>
                                <p class="mailbox-read-time" style="margin-bottom: 0">@extractedEmail</p>
                                <button class="btnWatch" ng-click="readDetail(@item.Id)"><i class="far fa-eye" style="color: lightseagreen;font-size:14px"></i>&nbsp; Xem hóa đơn</button>
                                <hr />
                            }

                        </div>
                    </div>
                    <!-- /.col -->
                    <div id="emailDetail" class="col-md-9" style="display: none;height:900px;overflow-y: scroll">
                        <div class="card card-primary card-outline" style="">
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <div class="mailbox-read-info" style="position: fixed; top: 94px; width: 63%; background-color: white;">
                                    <h3 style="font-weight: bold;font-size: 28px;"><span style="color: dodgerblue">Tiêu đề:</span> {{subject}}</h3>
                                    <h6 class="text-secondary" style="font-size: 15px">
                                        From: {{address}}
                                        <span class="mailbox-read-time float-right">{{time}}</span>
                                    </h6>
                                </div>
                                <!-- /.mailbox-read-info -->
                                <!-- /.mailbox-controls -->
                                <div class="mailbox-read-message" style="margin-top: 100px">
                                    <p>------------------------------Forwarded Mesage------------------------------</p>

                                    <p>
                                        <span style="font-weight: bold;">Subject: </span>{{subject}}
                                    </p>

                                    <p>
                                        <span style="font-weight: bold;">Date: </span>{{time}}
                                    </p>

                                    <p>
                                        <span style="font-weight: bold;">From: </span><a href="{{address}}">{{address}}</a>
                                    </p>

                                    <p>
                                        <span style="font-weight: bold;">Reply-To: </span><a href="{{to}}">{{to}}</a>
                                    </p>

                                    <p><span style="font-weight: bold;">To: </span><a href="{{to}}">{{to}}</a></p>
                                </div>
                                <!-- /.mailbox-read-message -->
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer bg-white">
                                <div style="width: 100%;height: 60px;background-color: rgb(0, 119, 255);color: white;font-size: 30px;display: flex;align-items: center;padding-left: 20px;">ASIA SOFT thông báo hóa đơn điện tử cho khách hàng</div>
                                <div style="margin-left: 50px;">
                                    <p style="font-weight: bold;margin-top: 20px;">Kính gửi: </p>
                                    <p>Ban tài chính thông báo đã gửi hóa đơn tài chính (theo hình thức hóa đơn điện tử) cho khách hàng với các thông tin như sau: </p>
                                    <ul>
                                        <li>Số hóa đơn: <span style="font-weight: bold;"></span></li>
                                        <li>Mẫu ra số hóa đơn: <span style="font-weight: bold;"></span></li>
                                        <li>Số hóa đơn: <span style="font-weight: bold;"></span></li>
                                    </ul>
                                    <p>Chi tiết các file đính kèm.</p>
                                    <p>Mọi vướng mắc xin liên hệ trực tiếp với kế toán văn phòng để được giải đáp.</p>
                                    <br />
                                    <p style="margin-top: 50px;">Trân trọng kính chào!</p>
                                </div>
                            </div>
                            <!-- /.card-footer -->
                            <div class="card-footer">
                                <footer>
                                    <div class="container container-footer">
                                        <div class="row">
                                            <div class="col-4">
                                                <h3 class="title" style="color: blue;">Liên Hệ <br> Chúng tôi</h3>
                                            </div>
                                            <div class="col-8">
                                                <div class="row position">
                                                    <div class="position-item col-4">
                                                        <div class="des-position">
                                                            <div class="title-position">THỦ ĐÔ HÀ NỘI</div>
                                                            <div class="textwidget">
                                                                <p>06, Vũ Ngọc Phan, Q. Đống Đa, Hà Nội</p>
                                                                <p>
                                                                    Điện thoại: <a href="tel:0243 7761 663">1900 63 65 85</a><br> Email: <a href="mailto:info@asiasoft.com.vn">info@asiasoft.com.vn</a>
                                                                </p>
                                                                <p><a id="map-hn" class="btn-map" href="https://g.page/AsiaSoftJSC?share">Xem bản đồ</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="position-item col-4">
                                                        <div class="des-position">
                                                            <div class="title-position">THÀNH PHỐ HỒ CHÍ MINH</div>
                                                            <div class="textwidget">
                                                                <p>60 Đường Số 11 KDC Cityland, P. 10, Q. Gò Vấp, TP. HCM</p>
                                                                <p>Điện thoại: <a href="tel:1900 636 689">1900 63 66 89</a></p>
                                                                <p>
                                                                    Email: <a href="mailto:info@asiasoft.com.vn">info@asiasoft.com.vn</a><br> <a id="map-hcm"
                                                                                                                                                 class="btn-map" href="https://g.page/AsiaSoftHCM?share">Xem bản đồ</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="position-item col-4">
                                                        <div class="des-position">
                                                            <div class="title-position">THÀNH PHỐ ĐÀ NẴNG</div>
                                                            <div class="textwidget">
                                                                <p>168 Lý Thái Tông, P. Hòa Minh, Q. Liên Chiểu, Đà Nẵng</p>
                                                                <p>Điện thoại<a class="hotline" href="#">: </a><a href="tel:0236 222 9308">0236 2229 308</a></p>
                                                                <p>Email: <a href="mailto:info@asiasoft.com.vn">info@asiasoft.com.vn</a></p>
                                                                <p><a id="map-danang" class="btn-map" href="https://goo.gl/maps/wLXNqonQgdBK56Rr8">Xem bản đồ</a></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="fileAttactment" style="background-color: white"></div>
                                </footer>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->

                    <hr />
                </div>


                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
@section index
    {
    <script>
        var app = angular.module("myApp", [])
        app.controller("MyCtrl", function ($scope, $http) {
            //lấy id từ queryString
            const vUrlParams = new URLSearchParams(window.location.search);
            var gUserName = vUrlParams.get('username'); 
            var gPassWord = vUrlParams.get('password'); 
            $("#emailNameOwner").html("<a href=" + gUserName + ">" + gUserName + "</a>")
            $scope.readDetail = function (id) {
                $("#emailDetail").css("display", "block")
                $("#fileAttactment").empty();
                $http.get("/Home/getEachEmail?Id_mail=" + id + "&username=" + gUserName + "&password=" + gPassWord)
                    .then(function (response) {
                        $scope.emailDetail = response.data.data; console.log($scope.emailDetail)
                        $scope.subject = $scope.emailDetail.Subject;
                        $scope.from = $scope.emailDetail.From;
                        var time = $scope.emailDetail.TimeReceive;
                        $scope.to = $scope.emailDetail.To;
                        $scope.FileAttactment = $scope.emailDetail.FileAttactment;
                        $scope.Typefilename = $scope.emailDetail.Typefilename;
                        const replaced = time.replace(/\D/g, '');
                        let numTime;
                        if (replaced !== '') {
                            numTime = Number(replaced);
                        }
                        var stringdate = new Date(numTime).toISOString().slice(0, 10).replace(/-/g, "");
                        const match = $scope.from.match(/"(.+)"\s*<(.+)>/);
                        $scope.nameEmail = match[1];
                        $scope.address = match[2];
                        $scope.time = new Date(numTime).toLocaleString();
                        let split = $scope.FileAttactment.split(";");
                        for (let i = 0; i < split.length; i++) {
                            if (split[i].split('.').pop() == "xml") {
                                $("#fileAttactment").append('<div class="col-md-3 my-5 text-center" style="display: flex; flex-direction: column;">' +
                                    '<i class="fa-regular fa-file text-primary fa-2xl mb-4"></i>' +
                                    '<a href="/Home/GetFile?fileName=' + split[i] + '">' + split[i] + '</a>' +
                                    '<a href="/Home/About?stringdate=' + stringdate + '&fileName=' + split[i] + '" class="btn text-danger"><i class="fa-regular fa-eye"></i>&nbsp; Xem hóa đơn</a>' +
                                    '</div >'
                                )
                            } else {
                                $("#fileAttactment").append('<div class="col-md-3 my-5 text-center" style="display: flex; flex-direction: column;">' +
                                    '<i class="far fa-file-pdf text-primary fa-2xl mb-4"></i>' +
                                    '<a href="/Home/GetFile?fileName=' + split[i] + '">' + split[i] + '</a>' +
                                    '</div >'
                                    )
                            }
                        }
                    });

            }
            $scope.logout = function () {
                window.location.href = "/Home/Logout";
            }
        })
    </script>
}
@section index_css
{
<style>
    .btnWatch {
        border-radius: 50px;
        border: 1px solid lightgray;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        margin-inline-start: auto;
        margin-right: 10px;
    }
    .overflow-text {
        max-width: 375.25px; /* Thay đổi giá trị tùy theo độ rộng của vùng chứa */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
}
