@using WebApplication1.Models;
@{
    ViewBag.Title = "Home Page";

}
<div class="wrapper" ng-app="myApp" ng-controller="MyCtrl">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav" style="display: flex; padding-left: 20px; flex-direction: column">
            <li class="nav-item">
                <p>Công ty tôi</p>
            </li>
            <li class="nav-item" style="font-size: 14px">
                <p>Email nhận hóa đơn: <span id="emailNameOwner"></span></p>
            </li>
        </ul>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Navbar Search -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fa-sharp fa-solid fa-question"></i>
                </a>
            </li>

            <!-- Messages Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fa-sharp fa-solid fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">15</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">15 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> 4 new messages
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> 8 friend requests
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i> 3 new reports
                        <span class="float-right text-muted text-sm">2 days</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
            </li>
            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fa-sharp fa-solid fa-lightbulb"></i>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" ng-click="logout()">
                    <span><i class="fa-solid fa-user"></i></span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">15 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> 4 new messages
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> 8 friend requests
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i> 3 new reports
                        <span class="float-right text-muted text-sm">2 days</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="index3.html" class="brand-link">
            <img src="~/Image/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">AdminLTE 3</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/Image/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Alexander Pierce</a>
                </div>
            </div>

            <!-- SidebarSearch Form -->
            <div class="form-inline">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->

                    <li class="nav-item menu-open">
                        <a href="../mailbox/read-mail.html" class="nav-link active">
                            <i class="nav-icon far fa-envelope"></i>
                            <p>
                                Hộp thư
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-3 mail-box">
                        <div class="row" style="border-bottom: 1px solid lightgray;height:80px">
                            <div class="col-md-6" style="display: flex; align-items: center; justify-content: center;">
                                <i class="fa-regular fa-envelope text-danger fa-xl"></i>&emsp;
                                <h3 style="font-weight: bolder; margin: 0px">
                                    Hộp thư
                                </h3>
                            </div>
                            <div class="col-md-6" style="display: flex; justify-content: center; align-items: center">
                                <ul class="nav navbar-nav navbar-right" style="flex-direction: row; justify-content: flex-end; ">
                                    <li style="padding: 20px 4px">
                                        <button id="btnControlMailBox_Reload" class="btn rounded-circle" style="background-color: #e4e6eb">
                                            <h5 class="m-auto"><i style="font-size:22px" class="fa-solid fa-rotate-right"></i></h5>
                                        </button>
                                    </li>
                                    <li style="padding: 20px 4px ">
                                        <button id="btnControlMailBox_Reload" class="btn rounded-circle" style="background-color: #e4e6eb">
                                            <h5 class="m-auto"><i style="font-size:20px" class="fa-solid fa-magnifying-glass"></i></h5>
                                        </button>
                                    </li>
                                    <li style="padding: 20px 4px ">
                                        <button id="btnControlMailBox_Filter" ng-click='btNoteBody_function()' class="btn rounded-circle" style="background-color: #e4e6eb">
                                            <h5 class="m-auto"><i style="font-size:20px" class="fa-solid fa-filter"></i></h5>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            @foreach (EmailEntity item in ViewBag.listEmail)
                            {
                                int startIndex = @item.From.IndexOf('<') + 1;
                                int endIndex = @item.From.IndexOf('>');
                                string extractedEmail = "<" + @item.From.Substring(startIndex, endIndex - startIndex) + ">";
                                <p class="overflow-text" style="font-weight: bold; color: dodgerblue;cursor:pointer">@item.Subject</p>
                                <p class="mailbox-read-time" style="margin-bottom: 0">@extractedEmail</p>
                                <span class="mailbox-read-time float-right" style="float: left !important">@item.TimeReceive</span>
                                <button class="btnWatch" ng-click="readDetail(@item.Id)"><i class="far fa-eye" style="color: lightseagreen;font-size:14px"></i>&nbsp; Xem hóa đơn</button>
                                <hr />
                            }

                        </div>
                    </div>
                    <!-- /.col -->
                    <div id="emailDetail" class="col-md-9 Detailmail-box">
                        <div class="card card-primary card-outline" style="">
                            <!-- /.card-header -->
                            <div class="card-body p-0">
                                <div class="mailbox-read-info" style="position: fixed; top: 94px; width: 63%; background-color: white;">
                                    <h3 style="font-weight: bold;font-size: 28px;"><span style="color: dodgerblue">Tiêu đề:</span> {{subject}}</h3>
                                    <h6 class="text-secondary" style="font-size: 15px">
                                        From: {{address}}
                                        <span class="mailbox-read-time float-right">{{time}}</span>
                                    </h6>
                                </div>
                                <!-- /.mailbox-read-info -->
                                <!-- /.mailbox-controls -->
                                <div class="mailbox-read-message" style="margin-top: 100px">
                                    <p>------------------------------Forwarded Mesage------------------------------</p>

                                    <p>
                                        <span style="font-weight: bold;">Subject: </span>{{subject}}
                                    </p>

                                    <p>
                                        <span style="font-weight: bold;">Date: </span>{{time}}
                                    </p>

                                    <p>
                                        <span style="font-weight: bold;">From: </span><a href="{{address}}">{{address}}</a>
                                    </p>

                                    <p>
                                        <span style="font-weight: bold;">Reply-To: </span><a href="{{to}}">{{to}}</a>
                                    </p>

                                    <p><span style="font-weight: bold;">To: </span><a href="{{to}}">{{to}}</a></p>
                                </div>
                                <!-- /.mailbox-read-message -->
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer bg-white">
                                <div style="width: 100%;height: 60px;background-color: rgb(0, 119, 255);color: white;font-size: 30px;display: flex;align-items: center;padding-left: 20px;">ASIA SOFT thông báo hóa đơn điện tử cho khách hàng</div>
                                <div style="margin-left: 50px;">
                                    <p style="font-weight: bold;margin-top: 20px;">Kính gửi: </p>
                                    <p>Ban tài chính thông báo đã gửi hóa đơn tài chính (theo hình thức hóa đơn điện tử) cho khách hàng với các thông tin như sau: </p>
                                    <ul>
                                        <li>Số hóa đơn: <span style="font-weight: bold;"></span></li>
                                        <li>Mẫu ra số hóa đơn: <span style="font-weight: bold;"></span></li>
                                        <li>Ký hiệu hóa đơn: <span style="font-weight: bold;"></span></li>
                                    </ul>
                                    <p>Chi tiết các file đính kèm.</p>
                                    <p>Mọi vướng mắc xin liên hệ trực tiếp với kế toán văn phòng để được giải đáp.</p>
                                    <br />
                                    <p style="margin-top: 50px;">Trân trọng kính chào!</p>
                                </div>
                            </div>
                            <!-- /.card-footer -->
                            <div class="card-footer">
                                <footer>
                                    <div class="row" id="fileAttactment" style="background-color: white"></div>
                                </footer>
                            </div>
                            <!-- /.card-footer -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->

                    <hr />
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    <!------------- Modal Hóa Đơn Điện Tử ------------------>
    <div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="invoiceModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static" style="transition: none;font-size: 16px">
        <div class="modal-dialog modal-lg" style="max-width: 70%" role="document">
            <div class="modal-content">
                <div class="text-center text-info mt-2">
                    <h3 id="invoiceModalLabel" sstyle="margin: 0px;"><b>Hóa đơn điện tử</b></h3>
                </div>
                <div class="modal-body" style="background-color: #edf3f6; max-width: 100%">
                    <div class="row px-2" style="background-color: #edf3f6;">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-11 mb-4" style="background-color: #d0e6f7; border-radius: 10px;">
                                    <div class="row">
                                        <h4 class="text-info my-auto"><i class="fa-solid fa-shop fa-2xs"></i> &nbsp;<b>Đơn vị bán hàng</b></h4>
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="row">
                                            <div class="col-3">
                                                <p>Đơn vị :</p>
                                            </div>
                                            <div class="col-md-8">
                                                <p><b>{{SellerTen}}</b></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <p>Mã số thuế : </p>
                                            </div>
                                            <div class="col-md-8">
                                                <p><b>{{SellerMST}}</b></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <p>Địa chỉ : </p>
                                            </div>
                                            <div class="col-md-8">
                                                <p><b>{{SellerDChi}}</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 mb-4" style="background-color: #d0e6f7; border-radius: 10px; ">
                                    <div class="row">
                                        <h4 class="text-info my-auto"><i class="fa-solid fa-cart-shopping fa-2xs"></i>&nbsp; <b> Đơn vị mua hàng</b></h4>
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="row">
                                            <div class="row">
                                                <div class="col-3">
                                                    <p>Đơn vị :</p>
                                                </div>
                                                <div class="col-md-8">
                                                    <p><b>{{BuyerTen}}</b></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-3">
                                                    <p>Mã số thuế : </p>
                                                </div>
                                                <div class="col-md-8">
                                                    <p><b>{{BuyerMST}}</b></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-3">
                                                    <p>Địa chỉ : </p>
                                                </div>
                                                <div class="col-md-8">
                                                    <p><b>{{BuyerDChi}}</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 mb-4" style="background-color: #d0e6f7; border-radius: 10px; ">
                                    <div class="row">
                                        <h4 class="text-info my-auto"><i class="fa-solid fa-money-check-dollar fa-2xs"></i>&nbsp; <b>Chữ ký số</b></h4>
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p>X509SubjectName CQT: </p>
                                        </div>
                                        <div class="col-md-9">
                                            <p><b>{{Issueser1}}</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p>X509SubjectName NBan: </p>
                                        </div>
                                        <div class="col-md-9">
                                            <p><b>{{Subject}}</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-11 mb-4" style="background-color: #d0e6f7; border-radius: 10px;">
                                    <div class="row text-center">
                                        <h4 class="text-info my-auto"><b>Đã kiểm tra</b></h4>
                                    </div>
                                </div>
                                <div class="col-md-11">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>Mẫu số: </p>
                                        </div>
                                        <div class="col-md-7">
                                            <p><b>{{in4_MSHDon}}</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>Ký hiệu: </p>
                                        </div>
                                        <div class="col-md-7">
                                            <p><b>{{in4_KHHDon}}</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>Số hóa đơn: </p>
                                        </div>
                                        <div class="col-md-7">
                                            <p><b>{{in4_SHDon}}</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>Ngày hóa đơn: </p>
                                        </div>
                                        <div class="col-md-7">
                                            <p><b>{{in4_NHDon}}</b></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <p>Ngày ký: </p>
                                        </div>
                                        <div class="col-md-7">
                                            <p><b>{{in4_Nky}}</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-11 mb-4" style="background-color: #d0e6f7; border-radius: 10px;">
                                    <div class="row d-flex justify-content-center">
                                        <h4 class="text-info my-auto"><i class="fa-solid fa-money-check-dollar fa-2xs"></i>&nbsp; <b>Thông tin thanh toán</b></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="row">
                                    <div class="col-md-5">
                                        <p>Tổng tiền trước thuế : </p>
                                    </div>
                                    <div class="col-md-7">
                                        <p><b>{{TCThue}}</b></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <p>Tổng thuế GTGT : </p>
                                    </div>
                                    <div class="col-md-7">
                                        <p><b>{{TThue}}</b></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <p>Tổng tiền thanh toán : </p>
                                    </div>
                                    <div class="col-md-7">
                                        <p><b>{{ThTien}}</b></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3 id="textResult" class="text-success" style="font-weight: bold;text-align: center;">Thư hợp lệ</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---------/ Modal Hóa đơn điện tử----------->
    <!------------>
    <div id="modalNote" class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1" style="transition: none;font-size: 14px;">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content" style="height: 170px;">
                <div class="modal-header">
                    <h5 class="modal-title">Ghi sổ kế toán</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="height: 68px;padding: 10px 16px;">
                    <p style="font-weight: 600;">Ghi sổ kế toán</p>
                    <div class="form-group-new k-form-field k-d-flex">
                        <label>Ngày chứng từ</label>
                        <div style="width: 140px;margin-right: 10px;">
                            <select k-ng-model="FinancialPaper_Day_model" kendo-drop-down-list k-options="FinancialPaper_Day" class="form-control" style="height: 25px;"></select>
                        </div>
                        <div style="width: 160px;height: 25px;border:  0.1rem solid #36363362;border-radius: 5px;">
                            <input ng-model="BillDay_model" k-options="BillDay_options" kendo-datepicker placeholder="yyyy-mm-dd" style="border: none;height: 23px;width: 158px;">
                        </div>
                        <p style="margin: 0 8px;">-</p>
                        <div style="width: 160px;height: 25px;border:  0.1rem solid #36363362;border-radius: 5px;">
                            <input ng-model="BillCreateDay_model" k-options="BillDay_options" kendo-datepicker placeholder="yyyy-mm-dd" style="border: none;height: 23px;width: 158px;">
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="display: block;height: 50px;padding: 8px 25px;border-top: none;">
                    <kendo-button type="button" k-options="byActions" ng-click="byActions_function()" class="btActions text-primary disabled" style="height: 27px;">&ensp; Thực hiện</kendo-button>
                    <kendo-button type="button" k-options="btReturn" class="btNo text-primary disabled" data-dismiss="modal" style="height: 27px;">&ensp; Quay lại</kendo-button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ./wrapper -->
@section index
    {
    <script>
        var app = angular.module("myApp", [])
        app.controller("MyCtrl", function ($scope, $http) {
            //lấy id từ queryString
            const vUrlParams = new URLSearchParams(window.location.search);
            var gUserName = vUrlParams.get('username');
            var gPassWord = vUrlParams.get('password');
            $("#emailNameOwner").html("<a href=" + gUserName + ">" + gUserName + "</a>")
            $scope.readDetail = function (id) {
                $(document).off("click", ".btnShowModalHDDTClick");
                $("#emailDetail").css("display", "block")
                $("#fileAttactment").empty();
                $http.get("/Home/getEachEmail?Id_mail=" + id + "&username=" + gUserName + "&password=" + gPassWord)
                    .then(function (response) {
                        $scope.emailDetail = response.data.data; console.log($scope.emailDetail)
                        $scope.subject = $scope.emailDetail.Subject;
                        $scope.from = $scope.emailDetail.From;
                        var time = $scope.emailDetail.TimeReceive;
                        $scope.to = $scope.emailDetail.To;
                        $scope.FileAttactment = $scope.emailDetail.FileAttactment;
                        $scope.Typefilename = $scope.emailDetail.Typefilename;
                        const replaced = time.replace(/\D/g, '');
                        let numTime;
                        if (replaced !== '') {
                            numTime = Number(replaced);
                        }
                        var stringdate = new Date(numTime).toISOString().slice(0, 10).replace(/-/g, "");
                        const match = $scope.from.match(/"(.+)"\s*<(.+)>/);
                        $scope.nameEmail = match[1];
                        $scope.address = match[2];
                        $scope.time = new Date(numTime).toLocaleString();
                        let split = $scope.FileAttactment.split(";");
                        for (let i = 0; i < split.length; i++) {
                            if (split[i].split('.').pop() == "xml") {
                                $("#fileAttactment").append(
                                    '<div class="col-md-3 my-5 text-center" style="display: flex; flex-direction: column;">' +
                                    '<i class="fa-regular fa-file text-primary fa-2xl mb-4"></i>' +
                                    '<a href="/Home/GetFile?fileName=' + split[i] + '">' + split[i] + '</a>' +
                                    '<button class="btn text-danger btnShowModalHDDTClick" data-file-name="' + split[i] + '"><i class="fa-regular fa-eye"></i>&nbsp; Xem hóa đơn</button>'+
                                    '</div>'
                                )
                            } else if (split[i].split('.').pop() == "zip" || split[i].split('.').pop() == "rar") {
                                $("#fileAttactment").append(
                                    '<div class="col-md-3 my-5 text-center" style="display: flex; flex-direction: column;">' +
                                    '<i class="fa-regular fa-file-zipper text-primary fa-2xl mb-4"></i>' +
                                    '<a href="/Home/GetFile?fileName=' + split[i] + '">' + split[i] + '</a>' +
                                    '</div>'
                                )
                            }
                            else {
                                $("#fileAttactment").append('<div class="col-md-3 my-5 text-center" style="display: flex; flex-direction: column;">' +
                                    '<i class="far fa-file-pdf text-primary fa-2xl mb-4"></i>' +
                                    '<a href="/Home/GetFile?fileName=' + split[i] + '">' + split[i] + '</a>' +
                                    '</div>'
                                )
                            }
                        }
                        $(document).on("click", ".btnShowModalHDDTClick", function () {
                            $(this).off('click');
                            var fileName = $(this).data("file-name");
                            if (fileName.split('.').pop() == "xml") {
                                console.log(fileName);
                                $http.get("/Home/ReadXML?stringdate=" + stringdate + "&fileName=" + fileName)
                                    .then(function (respone) {
                                        if (respone.data.error) {
                                            alert(respone.data.error);
                                            $("#textResult").html(respone.data.error).removeClass("text-success").addClass("text-danger");
                                        } else {
                                            var vInvoice = respone.data.data; console.log(vInvoice)
                                            $scope.Issueser1 = vInvoice.Certificate2.Issueser;
                                            $scope.Subject = vInvoice.Certificate2.Subject;

                                            $scope.SellerTen = vInvoice.seller.Ten;
                                            $scope.SellerMST = vInvoice.seller.MST;
                                            $scope.SellerDChi = vInvoice.seller.DChi;

                                            $scope.BuyerTen = vInvoice.buyer.Ten;
                                            $scope.BuyerMST = vInvoice.buyer.MST;
                                            $scope.BuyerDChi = vInvoice.buyer.DChi;

                                            $scope.in4_MSHDon = vInvoice.generalInformation.KHMSHDon;
                                            $scope.in4_KHHDon = vInvoice.generalInformation.KHHDon;
                                            $scope.in4_SHDon = vInvoice.generalInformation.SHDon;
                                            $scope.in4_NHDon = vInvoice.generalInformation.NLap;
                                            $scope.in4_Nky = vInvoice.generalInformation.NLap;

                                            $scope.TCThue = vInvoice.pay.TgTCThue;
                                            $scope.TThue = vInvoice.pay.TgTThue;
                                            $scope.ThTien = vInvoice.pay.ThTien;
                                        }
                                    })
                                $("#invoiceModal").modal("show");
                            }
                        });
                    });
            }

            $scope.btNoteBody_function = function () {
                $("#modalNote").modal('show');
            };

            //--- click hiển thị modal Hóa Đơn Điện Tử
            
            $scope.logout = function () {
                window.location.href = "/Home/Logout";
            }
        })
    </script>
}
@section index_css
{
    <style>
        .btnWatch {
            border-radius: 50px;
            border: 1px solid lightgray;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            margin-inline-start: auto;
            margin-right: 10px;
        }

        .overflow-text {
            max-width: 375.25px; /* Thay đổi giá trị tùy theo độ rộng của vùng chứa */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .col-md-3.mail-box {
            border: 1px solid lightgray;
            background-color: white;
            overflow-y: scroll;
            height: calc(100vh - 50px);
            padding-bottom: 40px;
        }

        .col-md-9.Detailmail-box {
            display: none;
            overflow-y: scroll;
            height: calc(100vh - 50px);
            padding-bottom: 40px;
        }
        /*--- Đặt CSS cho titile của window*/
        .k-window-titlebar.k-hstack {
            background-color: #0067c7;
            color: white;
            height: 35px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
    </style>
}
